/* default stuff, removes margins and paddings and defaults to 0
adds a scroll behaviour to clicked links with smooth motion */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/* applies to the entire html, sets a default */
/* space to declare custom variables */
:root{
    --colour-one: #a19b9b;
    --colour-two: #6b3838;
    --colour-three: #9c4906;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
html,
body {
  font-family:sans-serif;
  font-size: 4rem;
  color: #fff;
  height: 100%;
  width: 100%;
  margin: 0;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: var(--colour-two);
}

/* mouse over link */
a:hover {
  color: #000000;
}

/* visited link */
a:visited {
  color: var(--colour-three);
}

/* the mother div container which holds all elements */
/* ensures that elements which spill from the container is hidden */
.parallax_wrapper {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
  background-color: var(--colour-one);
}

/* the first cover of the page which fills the viewer screen */
.intro_screen {
    height: 100vh;
    /* covers the container with an image that doesn't repeat */
    background-image: url("Homepage.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* styling for all containers that will perform parallax scrolling */
.parallax_group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d; 
  /* ensures that depth in this layer is preserved so it wont flatten*/
}



/* the next layers are containers for elements like the noodle, the ramen bowl and the menu,
arranged to fit in specific spots within the screen, as well as changing z-indices to position
which element goes on top */


.parallax_layer {
  position: absolute;
  inset: 0; 
  /* gives this a top, bottom, right and left of 0 values */
}

.base_layer {
  transform: translateZ(-400px) scale(1.5); 
  /*will appear smaller as its -400px away */
  /* scale calculation: 1 + ((Z transform value * -1) / perspective) */
  z-index: 300;
}

.mid_layer {
  transform: translateZ(0) translateX(500px); /*remains the same*/
  z-index: 0;
}

.top_layer {
  transform: translateZ(160px) translateX(500px) scale(0.3);
 
}

#intro {
  z-index: 0;
}

#group-1 {
  z-index: -1;
}

#group-1 > .mid_layer {
transform: translateZ(-700px) translateY(1150px) scale(3.4);
}

#group-2 {
  z-index: -3;
}

#group-2 > .mid_layer {
  transform: translateZ(-200px) translateX(700px) translateY(400px) scale(1.3);  
  z-index: -1;
}

#group-2 > .top_layer {
  transform: translateZ(10px) translateX(1300px) scale(0.642);
}

#group-3 {
  transform: translateX(1300px);
}

/* the div container which contains the #outro */
.outro_screen {
  height: 100vh;
}

/* the container that holds the table illustration */
#outro {
  background-image: url(img/Scene2.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -4;
}


h1 {
    text-align: center;
    margin: auto;
}

#welcome {
    width: 50%;
    margin: auto;
    display: block;
    align-items: center;
}

.home {
  background-image: url("Homepage.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#landing-wrapper {
    display: flex;
    flex-flow: column;
    height: 100vh;
  }

#welcome-wrapper {
    display: flex;
    flex-flow: column;
    height: 100vh;
    background-image: url("img/welcome.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #welcome-wrapper::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 350px;
    background: linear-gradient(to top, #a19b9b, transparent);
    z-index: 0;
  }

#table {
    display: flex;
    flex-flow: column;
    height: 100%;
    margin-top: 200px;
    background-image: url("img/Scene2.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#outro::after {
    content: '';
    position: absolute;
    top: 10000;
    width: 100%;
    height: 400px;
    background: linear-gradient(to bottom, #a19b9b, transparent);
    z-index: 0;
  }

  #outro::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, #a09898, transparent);
    z-index: -300;
  }
  
button {
    background: none;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

#soundcontrol {
    margin-left: 1rem;
}

#end {
    background-color: var(--colour-one);
    width: 100vw;
    height: 100vh;
    z-index: -3;    
    display: flex;
}

#gochi {
  height: 100px;
  margin-top: 8rem;
  margin-left: 5rem;
}

#noodle {
  cursor: pointer;
}

.text {
  font-size: 0.3rem;
  font-family: sans-serif;
  margin-top: 5rem;
}
